<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>{{title}}</title>

		<script src="/vendor/html5shiv/dist/html5shiv.js"></script>

		<link href="/styles/master.min.css" rel="stylesheet" />
	</head>

	<body>
		<a href="/">Prioritise</a>
		<a href="/logout">Logout</a>

		<h1>{{page.title}}</h1>

{{{body}}}

		<script src="/vendor/jquery/jquery.min.js"></script>
		<script src="/vendor/jquery.sortable.js"></script>
		<script src="/scripts/master.min.js"></script>
	</body>
</html>